@model ObjectContainer.Objects.Contact;
@{
    ViewData["Title"] = "GetById";
}

<h1>Details about @Html.DisplayFor(model => model.LastName):</h1>


<e>@Html.DisplayFor(model => model.id)</e>




<e>@Html.DisplayFor(model => model.LastName)</e>

<e> @Html.DisplayFor(model => model.City)</e>

<e> @Html.DisplayFor(model => model.Phone)</e>


<e> @Html.DisplayFor(model => model.FirstName)<e/>


